{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="span5 offset2">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">{{ location.name }}</a>
        <ul class="nav">
          <li><a href="{{ url_for('locations_index') }}">Other Locations</a></li>
          <li><a href="{{ url_for('login') }}">Log Out</a></li>
        </ul>
      </div>
    </div>    
    <p>All about this location</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tank</th>
          <th>Fluid type</th>
        </tr>
      </thead>
      <tbody>
        {% for tank in tanks %}
        <tr>
          <td>{{ tank.name }}</td>
          <td>{{ tank.fluid_type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

